CONTENTFUL_SPACE_ID=spaceId
CONTENTFUL_ACCESS_TOKEN=token1
CONTENTFUL_PREVIEW_TOKEN=token2
CONTENTFUL_USE_PREVIEW=false

CONTENTFUL_CACHE_JSON=false
CONTENTFUL_CACHE_JSON_ROOT=./.contentful-cache
CONTENTFUL_USE_CACHED_RESULTS=false


NEXT_PUBLIC_FATHOM_ENABLED=false
NEXT_PUBLIC_FATHOM_ID=ID
